body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: white;
}


#main-color {
  background-color: #2196f3;
}

#secondary-color {
  background-color: #1769aa;
}

#third-color {
  background-color: #4dabf5;
}

/*  <TopHome /> */

#topButton {
  margin-right: 10px;
  margin-top: 15px;
}
#midCenter {
  min-height: 300px;
  text-align: center;
  
}

#RightMenu:hover {
  background-color: #c8c8c8;
  cursor: pointer;
}

h1.ui.inverted.header {
  font-size: 44px;
  margin-top: 1em;
  margin-bottom: 0em;
  font-weight: bold;
}

#inherit-buttom{
  color: inherit;
  text-decoration: none;
}

.bottomMenu {
  width: 50%;
  margin-left: 25%;
}